# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.tcd'
'name': 'TCD'
'fileTypes': [
  'log'
]

'firstLineMatch': '^\\[\\d+:\\d{2}:\\d{2}\\] <([-!$%^&*()_+|~=`{}\\[\\]:";\'<>?,./@#]?)(\\S+)> (.*)'

'patterns': [
  {
    'match': '^\\[\\d+:\\d{2}:\\d{2}\\]'
    'name': 'time'
  }
  {
    'match': '<([-!$%^&*()_+|~=`{}\\[\\]:";\'<>?,./@#]?)(\\S+)\\s?> (.*)'
    captures:
      1: name: 'badge'
      2: name: 'user'
      3:
        'patterns': [
          {
            'match': '@\\S+'
            'name': 'mention'
          }
          {
            # https://www.regextester.com/104035
            'match': '(https?:\\/\\/)?(www\\.)?[-a-zA-Z0-9@:%_\\+~#=]+\\.[a-z]+\\b([-a-zA-Z0-9@:%_\\+.~#()?&//=]*)'
            'name': 'url'
          }
      ]
  }
]
